@use "../custom"as *;
@use "../components/mixins"as *;

.intro {
  @include gradient-mixin;
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;

  &-item {
    .video-box {
      position: relative;

      a {
        i {
          font-size: 6rem;
          color: $secondary;
        }

        .border-animation {
          position: absolute;
          top: 0;
          left: 0;
          width: 6rem;
          height: 6rem;
          border: 0.55rem solid $white;
          border-radius: 50%;
          animation: pulse-border 1.5s linear infinite;

          &-1 {
            animation-delay: 1s;
          }

          &-2 {
            animation-delay: 1.5s;
          }

        }
      }
    }
  }
}

@include keyframe-mixin(pulse-border) {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}